GOOGLE_API_KEY:
DARKSKY_API_KEY:
LIST_API_KEY:

REDDIT_CLIENT_ID:
REDDIT_CLIENT_SECRET:
REDDIT_USERNAME:
REDDIT_PASSWORD:
REDDIT_USER_AGENT: /r/Glasgow bot by /u/timlardner

DRY_RUN: True
SET_STICKY: True
SUBREDDIT: glasgow
FLAIR_ID:
